<p>structural-directives works!</p>
<!-- AngularIf -->
<div *ngIf="users;then enterUser; else noUser">
    Hi
</div>
<ng-template #enterUser >
    <p>Kindly Register</p>
</ng-template>
<ng-template #noUser >
    <p>Bye</p>
</ng-template>
<!-- AngularFor -->
<div *ngFor="let letter of letters">
    {{letter.name}}
</div>
<!-- AngularSwitch -->
<input type="number" [(ngModel)]="num">
<div [ngSwitch]="num">
    <div *ngSwitchCase="1">One</div>
    <div *ngSwitchCase="2">Two</div>
    <div *ngSwitchCase="3">Three</div>
    <div *ngSwitchCase="4">Four</div>
    <div *ngSwitchCase="5">Five</div>
    <div *ngSwitchDefault>Enter in between 1 to 5</div>  
</div>