<form class="form mx-5">
<!-- String Interpolation -->
<p>{{nameIs()}} </p>    <br>
<!-- Property Binding -->
<button [disabled]="serverOn">Click</button>    <br>
<!-- Event Binding -->
<input type="text" (input)="onSubmit($event)">  <br>
{{result}}      <br><br>
<!-- Two Way Binding -->
<input type="text" [(ngModel)]="isServer">  <br>
{{isServer}}    <br><br>
</form>