<p>pipe works!</p>
<button (click)="handleEvent()">Click</button>
<input placeholder="hello" [ngModel]="title">
<p>{{title | uppercase}} </p>
<p>{{title | lowercase}} </p>
<p>{{jsonValue | json}} </p>
<p>{{title | titlecase}} </p>
<p>{{newDate | date:'mediumDate'}} </p>
<p>{{newDate | date:'shortTime'}} </p>
<p>{{newDate | date:'M:d:H'}} </p>  <!--Month:day:Hour-->